<div class="card">
    <div class="card-body">
        <h3>{{postagem.titulo}}</h3>
        <small>{{postagem.data}}</small>
        <small>Categoria: {{postagem.categoria.name}}</small>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>